@import "tailwindcss";

:root {
  --background: #07102a;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.input {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  background: #0b1530;
  border: 1px solid #1f2a60;
  color: white;
}
